<form ng-submit="edit()"
      class="form-horizontal">
    <fieldset>
        <legend>Edit a bookmark</legend>

        <div class="form-group row">
            <label for="title"
                   class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
                <input type="text"
                       class="form-control"
                       id="title"
                       ng-model="bookmark.name"
                       required="required" />
            </div>
        </div>

        <div class="form-group row">
            <label for="url"
                   class="col-lg-2 control-label">URL</label>
            <div class="col-lg-10 input-group">
                <input type="url"
                       class="form-control"
                       id="url"
                       ng-model="bookmark.url"
                       required="required" />
                <span class="input-group-addon">
                    <span class="fa fa-link"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit"
                        class="btn btn-warning">
                    <span class="fa fa-save"></span> Edit
                </button>
            </div>
        </div>
    </fieldset>
</form>