body {
    padding-top: 50px;
    overflow-y: scroll;
}

.scroll-x {
    overflow-x: auto;
}

.nav-stacked-deep ul {
    margin-left: 15px !important;
}

.anchor-fix {
    padding-top: 65px;
    margin-top: -65px;
}

.fade-in.ng-enter {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.fade-in.ng-enter,
.fade-in.ng-leave.ng-leave-active {
    opacity:0;
}
.fade-in.ng-leave,
.fade-in.ng-enter.ng-enter-active {
    opacity:1;
}

.fade-out.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.fade-out.ng-enter,
.fade-out.ng-leave.ng-leave-active {
    opacity:0;
}
.fade-out.ng-leave,
.fade-out.ng-enter.ng-enter-active {
    opacity:1;
}

.alert-slider.ng-enter,
.alert-slider.ng-leave {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.alert-slider.ng-enter,
.alert-slider.ng-leave.ng-leave-active {
    max-height: 0px;
}
.alert-slider.ng-leave,
.alert-slider.ng-enter.ng-enter-active {
    overflow-y: hidden;
    max-height: 250px;
}