<div class="anchor-fix"
     id="feed-item">
    <div class="panel panel-default panel-info">
        <div class="panel-heading"
             ng-bind-html="item.title"></div>
        <div class="panel-body"
             ng-bind-html="item.content"></div>
        <div class="panel-footer">
            <img ng-src="icons/feed/{{item.id_feed}}.ico"
                 width="16px"
                 height="16px" />
            <a href="{{item.url}}"
               target="_blank">{{item.url}}</a>
        </div>
    </div>
</div>
