<div class="anchor-fix"
     id="feed-item">
    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            <span class="fa fa-envelope"></span>
            <strong>{{mail.subject}}</strong>
            <br />
            <span class="fa fa-user"></span>
            {{mail.from}}
            <br />
            <span class="fa fa-calendar"></span>
            {{mail.unixTimeStamp | unixTimeStamp | date:'yyyy-MM-dd HH:mm'}}
        </div>
        <div class="panel-body"
             ng-if="mail.bodyPlainText">
            <pre>{{mail.bodyPlainText}}</pre>
        </div>
        <div class="panel-body"
             ng-if="mail.bodyHtml"
             ng-bind-html="mail.bodyHtml">
        </div>
        <div class="panel-footer"
             ng-if="mail.flagged || mail.deleted || mail.seen || mail.recent">

            <a class="btn btn-success btn-sm"
               href="#/mail/reply/{{id}}/{{mailBoxBase64}}/{{mail.uniqueId}}">
                <span class="fa fa-reply"></span> Reply
            </a>

            <span class="fa fa-flag"
                  ng-if="mail.flagged"></span>
            <span class="fa fa-trash-o"
                  ng-if="mail.deleted"></span>
            <span class="fa fa-eye"
                  ng-if="mail.seen"></span>
            <span class="fa fa-fire"
                  ng-if="mail.recent"></span>
        </div>
    </div>
</div>