<br />
<div class="row">
    <form ng-submit="login()"
          class="form-horizontal col-md-6 col-md-offset-3">
        <fieldset>
            <legend>Login</legend>

            <div class="form-group row">
                <label for="basic-auth-user"
                       class="col-lg-2 control-label">Username</label>
                <div class="col-lg-10">
                    <input type="input"
                           class="form-control"
                           id="basic-auth-user"
                           ng-model="basicAuthUser"
                           required="required"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="basic-auth-password"
                       class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password"
                           class="form-control"
                           id="basic-auth-password"
                           ng-model="basicAuthPass"
                           required="required"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="basic-auth--persist"
                       class="col-lg-2 control-label">Rember me</label>
                <div class="col-lg-10 input-group">
                    <select id="basic-auth--persist"
                            class="form-control"
                            ng-model="basicAuthPersist">
                        <option value="0" selected="selected">No</option>
                        <option value="600">10 minutes</option>
                        <option value="1800">30 minutes</option>
                        <option value="3600">1 hour</option>
                        <option value="86400">1 day</option>
                        <option value="31622400">1 year</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit"
                            class="btn btn-primary">
                        <span class="fa fa-unlock"></span> Login
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
