<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="fa fa-star"></span> Welcome</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <a href="#/password"
                               class="btn btn-danger btn-lg"
                               role="button">
                                <span class="fa fa-lock"></span> <br/>Password
                            </a>
                            <a href="#/bookmark"
                               class="btn btn-warning btn-lg"
                               role="button">
                                <span class="fa fa-bookmark"></span> <br/>Bookmarks
                            </a>
                            <a href="#/feed/show"
                               class="btn btn-success btn-lg"
                               role="button">
                                <span class="fa fa-rss"></span><br/>RSS
                            </a>
                            <a href="#/mail"
                               class="btn btn-info btn-lg"
                               role="button">
                                <span class="fa fa-envelope"></span><br/>Mail
                            </a>
                            <a class="btn btn-warning btn-lg"
                               role="button"
                               ng-show="webAppInstallPossible"
                               ng-click="install()">
                                <span class="fa fa-download"></span><br/>Install
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>